/*VASHON WAVES .ORG*/
/*DEV|CB*/
/*logo color 66c8c9
http://paletton.com/#uid=53i0u0kfLK35pYbaVS5jXAnnRu9 */


/*reset*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}



/*vashon waves begins*/


body, main, header, section, footer { margin: 0 auto; }
header, section, footer { width: 100% }
header, section { padding-bottom: 10px;	}

p { padding: 4px 8px 2px 2px; }
a { color:#3870C3; }

body { 

background: #fff;
background-size: contain;  
font: normal normal 18px/120% sans-serif;  
color:#273237;

}

main { 
width: 80%; max-width: 800px;

}

header {
	width: 	100%;
	height: 300px;

	background: #AE5C34 url(assets/VWaves-Image-Final.jpg) 0% 20% no-repeat;
	background-size: cover;

 }

section { 
	padding: 10px 0px;
	background: #fff;	 
}

section p {  max-width: 600px; }

.logo {
	height: 150px;
	background: transparent url(assets/logo-VWaves-tBG-200x180.png) center center no-repeat;
    background-size: 120px; 
    text-align: center;
}


footer { 
			height: 200px; 
			border-top: 2px solid #66c8c9; 
			text-align: right;

}

footer p { font-size: 12px;  }
